<form action="/users" method="POST">
    <input type="text" name="d[name]" placeholder="Full name">
    <input type="text" name="d[email]" placeholder="Email Id">
    <input type="text" name="d[phone]" placeholder="Phone">
    <input type="text" name="d[role]" placeholder="Authorization role">
    <input type="text" name="d[lastAction]" placeholder="Last action taken">
    <input type="date" name="d[lastLogin]" placeholder="Date of last login">
    <button type="submit">Submit</button>
</form>